/* 
    Document Written by Richard Anderson (https://richardjanderson.me)!
*/

/* Enables the text to be on the same line (tag:<div>), but in different Paragraph'S (tag:<p>)! */
.test-results-formatting{
    display: inline-flex; 
    margin-top: -12px;
    font-size: 16px;
}

/* 

SPACE FOR FORMATTING!

*/

/* Enables Formatting (Make it look likes thiers a space between tag_1 and tag_2 (tag:<p>)! */
.test-spacing-L{ 
    margin-left: 0px;
}
.test-spacing-R{
    margin-left: 5px;
    color: red;
}
.test-spacing-I{
    color: white;
    cursor: pointer;
}
.formatting-center-icon{    
    margin: 16px 6px;
    font-size: 13.5px;
}
.adapt-title{
    color: white;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
.adapt-information{    
    text-align: center;
    color: black;
    font-size: 16px;
    margin: 10px;
    padding: 0px;
}
.adapt-footer{
    color: white;
    font-size: 16px;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
