/* 
    Document Written by Richard Anderson (https://richardjanderson.me)!
*/

@media only screen and (min-width: 504px){
    .formatting-center{
        /* Center-Center */
        padding-top: 7.5%;
    }
}

@media only screen and (max-width: 504px){
    .formatting-center{
        /* Center-Center */
        padding-top: 12.5%;
    }
}

.main-title{
    text-decoration: underline;
}

.main-title-size{
    font-size: 36px;
}

.main-information{
    width: 100%;
    text-align: center;
}

.header-button{
    /* Button Position! */
    margin-top: 15px;
    margin-bottom: 0px; 

    /* Formatting for Button (header)! */
    background-color: #4bb523;
    text-decoration: none;
    border-radius: 24px;
    color: white;
    padding: 15px;
    border: 0;

    /* Cursor Design (Hover Button)! */
    cursor: pointer;
}

.note-information{
    text-decoration: underline;
    font-size: 20px;
}
